// ============================================================================
// conf/local.config — execução local no servidor (eulalio@200.235.143.10)
// 32 cores / 64 GB RAM
// ============================================================================

process {
    executor = 'local'
}

executor {
    cpus   = 32
    memory = '64.GB'
}
